.banner {
  position: relative;
  border-radius: 10px;
  height: 111px;
  margin-bottom: 35px;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    border-radius: 25px;
    height: 223px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    @media screen and (min-width: 1024px) {
      border-radius: 25px;
    }
  }

  &__sombre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    border-radius: 10px;

    @media screen and (min-width: 1024px) {
      border-radius: 25px;
    }
  }

  &__txt {
    position: absolute;
    top: 28%;
    left: 6%;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    width: 217px;

    @media screen and (min-width: 1024px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
    }
  }
}

