.banner {
  position: relative;
  border-radius: 10px;
  height: 111px;
  margin-bottom: 35px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .banner {
    border-radius: 25px;
    height: 223px;
  }
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .banner__img {
    border-radius: 25px;
  }
}
.banner__sombre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  .banner__sombre {
    border-radius: 25px;
  }
}
.banner__txt {
  position: absolute;
  top: 28%;
  left: 6%;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  width: 217px;
}
@media screen and (min-width: 1024px) {
  .banner__txt {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
}