.card {
  width: 32%;
  height: 255px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  text-decoration: none;
  background: #F6F6F6;
   


  animation: fadeInUp 600ms ease-in-out;

.home__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transform: scale(1);
    transition: transform 300ms ease;
  }
  

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &__title {
    position: absolute;
    bottom: 0;
    margin: 15px 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
  }

  &:hover {
    .card__img {
      transform: scale(1.03);
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .card{
   width: 98%;
  }
  }