.carousel {
  position: relative;
  display: flex;
  margin: auto;
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;

  @media screen and (max-width: 768px) {
    height: 255px;
    border-radius: 15px;
  }

  @media screen and (min-width: 769px) and (max-width: 1023px) {
    height: 330px;
    border-radius: 20px;
  }

  &__slider {
    display: flex;
    width: 100%;
    transition: transform 0.8s ease-in-out;

    &__pictures {
      height: 415px;
      width: 100%;
      min-width: 100%;
      object-fit: cover;

      @media screen and (max-width: 768px) {
        height: 255px;
      }

      @media screen and (min-width: 769px) and (max-width: 1023px) {
        height: 330px;
      }
    }
  }

  &__commands {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1%;

    &__photocount {
      position: absolute;
      color: white;
      font-size: 18px;
      bottom: 2%;
      right: 50%;
      margin: 0;

      @media screen and (max-width: 768px) {
        display: none;
      }

      @media screen and (min-width: 769px) and (max-width: 1023px) {
        font-size: 14px;
      }
    }

    &__buttons {
      border: none;
      background-color: transparent;
      cursor: pointer;

      img.arrow {
        width: 30px;
        height: 30px;
        transition: transform 0.3s;

        &.arrow--backward {
          transform: rotate(180deg);
        }
      }
    }
  }
}
