.collapse {
  width: 100%;
  margin: 20px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em;
    background-color: #ff6060; 
    border-radius: 5px;
    cursor: pointer;

    h3 {
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }

    .collapse__icon {
      color: white;
      font-size: 18px;
    }

    @media screen and (min-width: 1024px) {
      h3 {
        font-size: 24px;
      }
      .collapse__icon {
        font-size: 24px;
      }
    }
  }

  &__content {
    background-color: #f6f6f6; 
    border-radius: 5px;
    margin-top: 5px;
    padding: 0.8em 1em;

    p {
      font-size: 16px;
      color: #000;
      margin: 0.4em 0;
    }

    @media screen and (min-width: 1024px) {
      p {
        font-size: 20px;
      }
    }
  }
}
