.collapse__dropdown__container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: #f6f6f6;
}

.collapse__dropdown__title {
  background: #ff6060;
  color: white;
  font-weight: 700;
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 12px;
  cursor: pointer;
}

.collapse__dropdown__title h2 {
  margin: 0;
  font-size: 14px;
}

.collapse__dropdown__title p {
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.collapse__dropdown__content {
  padding: 12px;
  font-size: 14px;
  color: #000;
}

.collapse__dropdown__content p {
  margin: 0;
  line-height: 1.4;
}

.collapse__dropdown__content ul {
  margin: 0;
  padding-left: 18px;
}

.collapse__dropdown__content li {
  list-style: none;
  margin-bottom: 6px;
}
