@charset "UTF-8";
.collapse {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* BOUTON TITRE */
.collapse__title-container {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.collapse__title-container:hover {
  background: #ff7a7a;
}

/* TITRE */
.collapse__title-container__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

/* CONTENU */
.collapse__text {
  background: #f6f6f6;
  padding: 12px;
  font-size: 14px;
  color: black;
  line-height: 1.4;
}

/* Si c’est un <p> */
.collapse__text p {
  margin: 0;
}

/* Si c’est une liste */
.collapse__text ul {
  margin: 0;
  padding-left: 18px;
}

.collapse__text li {
  list-style: none;
  margin-bottom: 6px;
}

/* ICONE */
.expand_icon {
  font-size: 18px;
  color: white;
  transition: transform 0.25s ease;
}

/* Quand c’est ouvert : la flèche tourne */
.expand_icon--opened {
  transform: rotate(180deg);
}