.error {
  width: 80%;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error__title {
  font-size: 288px;
  margin: 1%;
}

.error__message {
  font-size: 36px;
  margin-bottom: 10%;
}

.error__redirect {
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 768px) {
  .error__title {
    font-size: 96px;
  }
  .error__message {
    font-size: 18px;
    margin-bottom: 15%;
  }
  .error__redirect {
    font-size: 14px;
  }
}