.footer {
  width: 100%;
  height: 209px;
  margin-top: 5%;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__logo {
    width: 122px;
    height: 40px;
    object-fit: contain;
  }

  &__text {
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;

    @media screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
