
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;

  @media screen and (min-width: 1024px) {
    margin: 40px 100px 49px 100px;
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    width: 9rem;

    @media screen and (min-width: 1024px) {
      width: 13.2rem;
    }

    img {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    gap: 26px;

    @media screen and (min-width: 1024px) {
      gap: 57px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 12px;

      @media screen and (min-width: 1024px) {
        font-size: 24px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
