.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
@media screen and (min-width: 1024px) {
  .header {
    margin: 40px 100px 49px 100px;
  }
}
.header__logo {
  display: flex;
  align-items: flex-start;
  width: 9rem;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: 13.2rem;
  }
}
.header__logo img {
  width: 100%;
}
.header__nav {
  display: flex;
  gap: 26px;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    gap: 57px;
  }
}
.header__nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .header__nav a {
    font-size: 24px;
  }
}
.header__nav a:hover {
  text-decoration: underline;
}