.home__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding-top: 56px;
}