.rental-page {
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 768px) {
  .rental-page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rental-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .rental-info-container {
    flex-direction: column;
    gap: 15px;
  }
}

.rental-info__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .rental-info__title {
    font-size: 18px;
  }
}

.rental-info__location {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 768px) {
  .rental-info__location {
    font-size: 14px;
  }
}

.rental-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.rental-tags__tag {
  background-color: #ff6060;
  color: white;
  height: 25px;
  min-width: 115px;
  padding: 0 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .rental-tags__tag {
    min-width: 84px;
    font-size: 10px;
  }
}

.renter-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.renter-info__top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.renter-info__pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .renter-info__pic {
    width: 32px;
    height: 32px;
  }
}

.renter-info__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .renter-info__name {
    font-size: 12px;
  }
}

.renter-info__rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 20px;
}

.star--filled {
  color: #ff6060;
}

.star--empty {
  color: #e3e3e3;
}

@media screen and (max-width: 768px) {
  .star {
    font-size: 14px;
  }
}
.rental-collapse-container {
  display: flex;
  gap: 75px;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .rental-collapse-container {
    flex-direction: column;
    gap: 20px;
  }
}